<!DOCTYPE html>
   <head>
      <style>
          body{
             
              background-color: Aquamarine;
          }
 
         
          h1 {
              color: red;
          }
         
          h2 {
              colour: blue;  
         
          }
      </style>
         <title>Current Weather in Burlington</title>
        
            <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
            <script src="static/reFreshButton.js"></script>
  </head>
 
   <body>
  
   <h1>  Click the physical push button and the current weather in Burlington will show up</h1>
  
   <h2 id="currentTemp"> The Current Temperature in Burlington is </h1>
          
   <p class = "backToHomeLink"><a href="http://0.0.0.0:5000/"> Go Back to the Home Page</p>
  
 
          
   </body>
</html>
