<!doctype html>
 
<head>
      <style>
          body{
             
              background-color: Aquamarine;
          }
 
         
          h1 {
              color: red;
          }
         
          h2 {
                 
              color: black;   
          }
         
          p {
             
              color:blue;
          }
         
      </style>
 
<title> Weather Suggstions </title>
 
</head>
 
<body>
 
<h1> Send a Temperature on the topic (weatherSuggestions/input) </h1>
<h2> Do not include the brackets </h2>
 
<h2> View the output on the OLED Screen. An LED will turn on if you are in danger</h2>
 
<p class = "backToHomeLink"><a href="http://0.0.0.0:5000/"> Go Back to the Home Page</p>
 
 
</body>
</html>
